* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Segoe UI";
}

.container {
    padding: 1rem;
    width: 100%;
    min-width: 370px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 60px 130px 30px 1fr 100px;
    grid-template-areas: "header" "container-conversor" "article" "galeria" "footer";
    gap: 10px;
    margin: 0 auto;
}

.article-conversor {
    text-align: center;
    grid-area: article;
}

.header {
    grid-area: header;
    border-bottom: 1px solid gray;
}

.container-conversor {
    grid-area: container-conversor;
}

.flexcontainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.box__img {
    width: 120px;
    display: flex;
    flex-direction: row;
}

.imagen__header {
    width: 50px;
}

.titulo__header {
    color: #2A69A1;
    text-decoration: none;
    font-weight: 1000;
    font-size: 10px;
    align-self: center;
}

.nav {
    margin-left: auto;
    font-size: 10px;
}

.nav__list {
    display: flex;
    list-style: none;
}

.nav__link {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black;
    padding: 5px;
    height: 100%;
}

.nav__list li:hover {
    background-color: #2A69A1;
}

.nav__link:hover {
    color: white;
}

.aplicacion,
.ayuda {
    display: none;
}

.boton-section {
    background-color: white;
    border: 1px solid #4BAAD3;
    transition: background-color 1s;
}

.link {
    text-decoration: none;
    color: black;
    font-weight: bold;
    display: block;
    padding: 3px;
    transition: color 1s;
}

.boton-section:hover {
    background-color: #4BAAD3;
}

.link:hover {
    color: white;
}

.azul_negrita {
    font-weight: bold;
    color: #4BAAD3;
}

.text2 {
    margin-top: 40px;
    animation-name: Mueve;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-fill-mode: forwards;
    color: #2b6aa1;
    font-weight: bold;
}

@keyframes Mueve {
    from {
        opacity: 1;
        transform: rotate3d(1, 0, 0, 90deg);
    }
    to {
        opacity: 0;
    }
}

footer {
    grid-area: footer;
    background-color: #555555;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.imagen-footer {
    width: 30px;
}

.columnas {
    list-style: none;
    font-size: 8px;
    padding: 5px;
}

.titulo-list {
    color: white;
    font-weight: bold;
}

.list__link {
    text-decoration: none;
    color: white;
}

.list__link:hover {
    text-decoration: underline;
}

.padding {
    color: white;
    padding: 5px 0px;
}

.input-footer {
    font-size: 10px;
    margin: 5px 0px;
}

.boton-footer {
    width: 100%;
}

.container-conversor {
    color: white;
    text-align: center;
    background-color: rgba(1, 16, 179, 0.619);
    border-radius: 5px;
}

.calcular {
    background-color: #FCB813;
    border: none;
    padding: 5px 15px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

.galeria {
    grid-area: galeria;
    display: grid;
    width: 100%;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: 250px;
    gap: 10px;
    justify-items: center;
}