* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Segoe UI";
}

.container {
    padding: 1rem;
    width: 100%;
    min-width: 370px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 60px 140px 350px 1fr;
    grid-template-areas: "header" "section" "section2" "footer";
    gap: 10px;
    margin: 0 auto;
}

.header {
    grid-area: header;
    border-bottom: 1px solid gray;
}

.flexcontainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.box__img {
    width: 120px;
    display: flex;
    flex-direction: row;
}

.imagen__header {
    width: 50px;
}

.titulo__header {
    color: #2A69A1;
    text-decoration: none;
    font-weight: 1000;
    font-size: 10px;
    align-self: center;
}

.nav {
    margin-left: auto;
    font-size: 10px;
}

.nav__list {
    display: flex;
    list-style: none;
}

.nav__link {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black;
    padding: 5px;
    height: 100%;
}

.nav__list li:hover {
    background-color: #2A69A1;
}

.nav__link:hover {
    color: white;
}

.aplicacion,
.ayuda {
    display: none;
}

.section {
    grid-area: section;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("fondo-section.jpg");
    background-position: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    border-radius: 5px;
}

.section2 {
    grid-area: section2;
    text-align: center;
    margin-top: 10px;
}

.article {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.section__box__img2 {
    margin-left: auto;
    width: 130px;
}

.section__box__img {
    margin-left: auto;
    width: 110px;
    display: none;
}

.section__box__img img {
    width: 100%;
    height: 100%;
}

.titulo_article {
    color: #4BAAD3;
    font-weight: bold;
}

.article1 {
    width: 200px;
}

.article_box {
    display: flex;
    flex-direction: column;
}

.article1 p {
    width: 200px;
}

.section__box__img2 img {
    width: 100%;
}

.article_box img {
    width: 60%;
    display: block;
    margin: 0 auto;
}

.section__text {
    font-weight: 100;
    width: 205px;
    font-size: 17px;
}

.section__text {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

.boton-section {
    background-color: white;
    border: 1px solid #4BAAD3;
    transition: background-color 1s;
}

.link {
    text-decoration: none;
    color: black;
    font-weight: bold;
    display: block;
    padding: 3px;
    transition: color 1s;
}

.boton-section:hover {
    background-color: #4BAAD3;
}

.link:hover {
    color: white;
}

.azul_negrita {
    font-weight: bold;
    color: #4BAAD3;
}

.text2 {
    margin-top: 40px;
    animation-name: Mueve;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-fill-mode: forwards;
    color: #2b6aa1;
    font-weight: bold;
}

@keyframes Mueve {
    from {
        opacity: 1;
        transform: rotate3d(1, 0, 0, 90deg);
    }
    to {
        opacity: 0;
    }
}

footer {
    grid-area: footer;
    background-color: #555555;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.imagen-footer {
    width: 30px;
}

.columnas {
    list-style: none;
    font-size: 8px;
    padding: 5px;
}

.titulo-list {
    color: white;
    font-weight: bold;
}

.list__link {
    text-decoration: none;
    color: white;
}

.list__link:hover {
    text-decoration: underline;
}

.padding {
    color: white;
    padding: 5px 0px;
}

.input-footer {
    font-size: 10px;
    margin: 5px 0px;
}

.boton-footer {
    width: 100%;
}